<div class="row">
    <div class="col-6">

        <app-dona 
        titulo="Ventas"
        [labels] = "labels"
        [data]="data1"
        ></app-dona>
        
       
    </div>

    <div class="col-6">
         <!-- [data]="data1" -->
        <app-dona
        titulo="Compras"
        
        
        ></app-dona>
       
    </div>

</div>

<div class="row">
    <div class="col-6">

        <app-dona titulo="titulo3"></app-dona>
       
    </div>

    <div class="col-6">

        <app-dona titulo="titulo4"></app-dona>
       
    </div>

</div>